@{
    ViewData["Title"] = "Empleados";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card my-2">
                <div class="body-card my-3">
                    <div class="d-flex flex-column">
                        <div class="d-grid col-10 mx-auto mb-2">
                            <a class="btn btn-success btn-md mb-2" asp-controller="Home" asp-action="Index">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card my-2">
                <div class="">
                    <p class="h2 text-center mt-3 fw-bold">Bienvenido <span></span></p>
                </div>
                <div class="body-card my-2">
                    <div class="d-flex">
                        <div class="card">
                            <div class="">

                            </div>
                        </div>
                        <div class="card">
                            <div class="">

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

