
@* Titulo de la vista *@
@{
    ViewData["Title"] = "Crear Oferta";
}

<!DOCTYPE html>
<html lang="es">
<body>
        <div class="row d-flex justify-content-center">
        @* Tabla de Botones de navegación *@
        <div class="col-md-3 col-sm-10 my-3">
            <div class="card p-2 d-flex justify-content-center d-grid gap-2">
                <a class="btn btn-primary fw-bold" type="button"  asp-area="" asp-controller="Jobs" asp-action="Index" asp-route-id="">Listado de ofertas</a>
            </div>
        </div>
        @* Tabla de Lista *@
        <div class="col-md-8">
            <div class=" card p-2">
                <div class="my-3">
                    <h1 class="fw-bold text-center">Crea tu cuenta</h1>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus nunc, accumsan.</p>
                </div>
                <form asp-action="Create" method="post" onsubmit="return SavedAlert()">
                    <div class="row d-flex align-content-center g-3 p-2">
                        <div class="my-2">
                            <h3 class="fw-bold text-center">Información de la empresa</h3>
                        </div>
                        <div class="col-md-6">
                            <label for="InputNameCompany" class="form-label">Nombre</label>
                            <input id="InputNameCompany" class="form-control" placeholder="Mi Empresa S.A.S" aria-label="Nombre" required>
                        </div>
                        <div class="col-md-6">
                            <label for="InputLogoCompany" class="form-label">Logo</label>
                            <input asp-for="" id="InputLogoCompany" class="form-control" placeholder="www.milogo.com" aria-label="Logo" required>
                        </div>
                        <div class="my-2">
                            <h3 class="fw-bold text-center">Información de la oferta</h3>
                        </div>
                        <div class="col-md-6">
                            <label for="InputOfferTitle" class="form-label">Oferta</label>
                            <input asp-for="" id="InputOfferTitle" class="form-control" placeholder="Auxiliar de tesoreria" aria-label="Titulo oferta" required>
                        </div>
                        <div class="col-md-6">
                            <label for="InputCountry" class="form-label">Ciudad</label>
                            <input asp-for="Country" id="InputCountry" class="form-control" placeholder="Ciudad" aria-label="Ciudad" required>
                        </div>
                        <div class="col-md-6">
                            <label for="InputSalary" class="form-label">Salario</label>
                            <input asp-for="Salary" id="InputSalary" class="form-control" placeholder="1000000" aria-label="1000000" required>
                        </div>
                        <div class="col-md-6">
                            <label for="InputPositions" class="form-label">Vacantes disponibles</label>
                            <input asp-for="Positions" id="InputPositions" class="form-control" placeholder="Vacantes disponibles" aria-label="1" required>
                        </div>
                        <div class="col-md-6">
                            <label for="InputLanguages" class="form-label">Lenguajes</label>
                            <input asp-for="Languages" id="InputLanguages" class="form-control" placeholder="Español" aria-label="Lenguaje" required>
                        </div>
                        <div class="col-md-6">
                            <label for="InputStatus" class="form-label">Estado de la oferta</label>
                            <select asp-for="Status" class="form-select" id="InputStatus" aria-label="Selecciona">
                                <option value="">Selecciona una opción</option>
                                <option value="Disponible">Disponible</option>
                                <option value="No Disponible">No Disponible</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="inputDescription" class="form-label">Descripción</label>
                            <textarea asp-for="Description" id="inputDescription" class="form-control from-text-area" placeholder="Escribe algo sobre la oferta.." aria-label="Descripción" required></textarea>
                        </div>
                        <a class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-success fw-bold d-gap">Crear Oferta</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>