@model ViewModels.Models.RegistrationViewModel;

@{
    ViewData["Title"] = "Registrate";
}

<!DOCTYPE html>
<html lang="es">
<body>
<div class="my-3">
    <h1 class="fw-bold text-center text-primary">Registra tus datos de inicio de sesión</h1>
    <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <div class="card p-3">
                <form asp-action="SignUpDataSesion" method="post">
                    <div class="row d-flex align-content-center g-3 p-2">
                        <div class="col-md-12">
                            <label for="InputUserName" class="form-label">Nombre de usuario</label>
                            <input asp-for="DataSesion.UserName" id="InputUserName" class="form-control" placeholder="Escribe tu nombre de usuario" required>
                        </div>
                        <div class="col-md-12">
                            <label for="InputPassword" class="form-label">Contraseña</label>
                            <input asp-for="DataSesion.Password" type="password" id="InputPassword" class="form-control" placeholder="Escribe tu contraseña" required>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto m-2">
                            <button type="submit" class="btn btn-success fw-bold">Registrate</button>
                        </div>
                        <div class="container text-center">
                            <p class="mb-3">
                                ¿Ya tienes una cuenta? <a class="text-primary" asp-area="" asp-controller="Login" asp-action="SignIn">Inicia sesión</a>
                                <br>
                                <strong>Nota:</strong> Los campos marcados con un <strong>*</strong> son obligatorios.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>